@{
    ViewData["Title"] = "Driver";
}

<div class="text-center">
    <h1 class="display-4">Driver Actions</h1>
</div>

<style>
    .button-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .button {
        width: 250px;
        height: 100px;
        margin: 10px;
        font-size: 22px;
        border: none;
        background-color: #010801;
        color: white;
        cursor: pointer;
        border-radius: 8px;
        align-content: center;
        text-align: center;
        margin-top: 100px;
    }
    a:hover{
        color: green;
    }
</style>

<body>

    <div class="button-container">
        <a class="button" asp-area="" asp-controller="Home" asp-action="DriverLoop">Bus and Loop</a>
    </div>

</body>